<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.express.dao.PersonshowMapper" >
  <resultMap id="BaseResultMap" type="com.express.pojo.Personshow" >
    <id column="showId" property="showid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="createAt" property="createat" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="productId" property="productid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    showId, title, content, createAt, tel, productId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from personshow
    where showId = #{showid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from personshow
    where showId = #{showid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.express.pojo.Personshow" >
    insert into personshow (showId, title, content, 
      createAt, tel, productId
      )
    values (#{showid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{createat,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{productid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.express.pojo.Personshow" >
    insert into personshow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="showid != null" >
        showId,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createat != null" >
        createAt,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="productid != null" >
        productId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="showid != null" >
        #{showid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createat != null" >
        #{createat,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.express.pojo.Personshow" >
    update personshow
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createat != null" >
        createAt = #{createat,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        productId = #{productid,jdbcType=INTEGER},
      </if>
    </set>
    where showId = #{showid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.express.pojo.Personshow" >
    update personshow
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      createAt = #{createat,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      productId = #{productid,jdbcType=INTEGER}
    where showId = #{showid,jdbcType=INTEGER}
  </update>
</mapper>